.container {
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  border: 1px solid green;
}

.ingredientes {
  border: 1px solid black;
  width: 49%;
  list-style-type: none;
}

.button {
  width: 100px;
}

.li {
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
}

.imgHamburguer {
  width: 400px;
  max-width: 100%;
}

.containerIngredientesSelecionados {
  border: 1px solid black;
  width: 49%; 
  display: flex;
  flex-wrap: wrap;
  
}

.tituloIngredientesSelecionados{
  border: 1px solid black;
  width: 100%;
  margin: 10px;
  height: fit-content;
  align-self: flex-start;
}

.divBotaoProsseguir {
  border: 1px solid black;
  width: 100%;
  margin: 10px;
  margin-top: 0;
  align-self: flex-end;
  padding: 10px;
}

.total {
  border: 1px solid black;
  width: 100%;
  margin: 10px;
  margin-bottom: 0;
  align-self: flex-end;
  padding: 10px;
}

.ingredientesSelecionados{
  border: 1px solid red;
  align-self: flex-start;
}